/*
Project Name: Food recipes website 
Author: Rabia Iftikhar
*/
body {
margin: 0;
padding: 0;
background-size: cover;
background-position:center center;
background-repeat: no-repeat;
}
html, body {
height: 100%;

}
html {
    font-size: 1em;  
}
body {
    overflow-x: auto;
    overflow-y: scroll;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 1.891rem;
}

#content {
    margin-left: auto;
    margin-right: auto;
}
.heading {
    font-family: 'Playfair Display', serif;
}


  /* Header Section */
header {
    margin: auto;
   overflow: hidden;
    border-bottom: 2px solid rgba(14, 13, 13, 0.37);
    position: fixed;
    top: 0;
    background-color: #fff;
   width: 94%;
}
.nav-bar {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.logo {
    display: flex;
    flex-direction: row;
    font-family: cursive;
    z-index: 6; 
    color: #7c7c7c;
    line-height: 0.1143rem;
}
.logo img {
    width: 5rem;
    height: 5rem;
    position: relative;
}
.logo-item h2{
 font-size: 2.5rem;
 letter-spacing: 0.3rem;
}



.nav-items {
list-style-type: none;
position: relative;
top: 1.3rem;
left: -0.8rem;
overflow: hidden;
}
.nav-items li {
 display:  inline;
}
.nav-items a {
    padding: 2rem 1.7rem;
    color: #7c7c7c;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    font-size: 0.9rem;
}
.nav-items a:hover {
    color: rgb(255, 208, 0);
}
.nav-items a:active {
    color: rgb(255, 208, 0);
}

.social {   
    position: relative;
    right: 2rem;
    top: 0.5rem;
    overflow: hidden;
}
.social li {
    display: inline;
}
.fa { 
    padding: 0.682rem;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    color: #919191;
}
.fa:hover {
    color: rgb(255, 208, 0); 
}

/* Main Section */
main {
    text-decoration: none;
}
.Welcome {
    padding: 5rem;
    border-bottom: 2px solid rgba(14, 13, 13, 0.37);    
}
.welcome-heading {
    padding-top: 3rem;
     
    text-align: center;
    font-size: 2.73rem;
    color: #919191;
    font-style: italic;
}
.recipe-menu {
    padding-top: 1.567rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
      padding-bottom: 2rem;
}
.recipe-menu img {
    margin: 0;
    padding: 0;
    width: 14rem;
    height: 11rem;
}

/* Quote Section */
.Quote {
    margin: 0;
    padding: 2rem;
    border-bottom: 2px solid #919191;
    text-align: center; 
}



.Quote .fa {
    color: rgba(255, 139, 6, 0.842);
     font-size: 2.5rem;
     padding: 1rem;
}
.quote-text {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
      line-height: 4.6rem;
}
.author {
    font-size: 1.5rem;
}   

/* About me */
.about-header {
    padding-top: 2rem;
text-align: center;
font-size: 2rem; 
line-height: 0.8rem;   
}
.fas {
color: rgba(255, 139, 6, 0.842);
font-size: 2.2rem;
}


.about-me {
    border-bottom: 2px solid rgba(14, 13, 13, 0.37); 
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
}

.profile-pic img {
width: 55rem;
height: 40rem;
}
.description {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 2rem;
    color: black;
   line-height: 2.3rem;
}
.description h2 {
    font-size: 2rem;
    font-style: italic;
    
}
.description p {
    font-size: 1.2rem;
    
}
.about-button {
    padding: 1rem;
    width: 15rem;
    font-size: 0.833rem;
    color: #777575;
    background-color: transparent;
    border: 2px solid rgba(255, 139, 6, 0.842);

}

/* Footer */
footer {
display: block;  
margin: 0;
}

.far {
color: rgba(255, 139, 6, 0.842);
font-size: 2.2rem;
}
.footer-content {
    text-align: center;
    font-size: 1.5rem;
    overflow: hidden;
    line-height: 1rem;
    margin-bottom: 3rem;
    padding: 2rem;
}

.submit {
    position: relative;
    left: 25rem;
    bottom: 1rem;
    height: 100%;
    margin: 0;
    
}
.input-info {
    border: none;
    border-bottom: 1px solid rgb(228, 159, 32);
    padding: 1rem;
    font-size: 0.8rem;
    width: 15rem;
}
.submit-btn {
    background-color:  transparent;
    border: 2px solid rgb(228, 159, 32);
    color: #919191;
    padding: 0.6rem;
    width: 9rem;
    font-size: 0.8rem;
}
.border-btm {
    border-bottom: 2px solid rgba(14, 13, 13, 0.37);    
} 

.copyright {
    padding: 1rem;
text-align: center;
font-size: 0.8rem;
}







